<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="panel-title">
          Sign in
          </span>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= devise_error_messages! %>

            <%= f.email_field :email, autofocus: true %>
            <%= f.password_field :password, autocomplete: "off" %>

            <% if devise_mapping.rememberable? -%>
                <%= f.check_box :remember_me %>
            <% end -%>

            <%= f.submit "Log in" %>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
